<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wl.dudian">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--友盟-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_dudian"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".app.newsdetail.NewsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".app.ui.activity.TransitionActivity"/>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a0567a67e58e30550022eb"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia"/>
    </application>

</manifest>